@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Где-то там за горами<br />
    Где-то там за лесами<br />
    <abbr title="Телефон">P:</abbr>
    +77051648233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:egor201240@gmail.com">Напишите нам</a><br />
</address>